<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Producto</title>
</head>
<body>
    <header>
        <h1>
            Producto {{product._doc._id}}
        </h1>
    </header>
    <div class="carrito">
        <a href="/api/views/carts/{{cartId}}" id="carritoLink">
            {{!-- <img class="imagen-carrito" src="https://cdn.pixabay.com/photo/2015/12/23/01/14/edit-1105049_1280.png" alt="Carrito de compras"> --}}
        </a>
        <span id="contadorCarrito">{{quantity}}</span>
        <input type="hidden" id="cartId" value="{{ cartId }}">
    </div>

    <div class="product-card">
        <h4>Titulo: {{product._doc.title}}</h4>
        <p>Descripcion: {{product._doc.description}}</p>
        <p>Precio: ${{product._doc.price}}</p>
        <p>Stock: {{product._doc.stock}}</p>
        <p>Categoria: {{product._doc.category}}</p>
        <img src="{{product._doc.thumbail}}" alt="{{product._doc.title}}">      
        <button class="boton" id="add-to-cart-btn" data-product-id="{{product._doc._id}}" onclick="addToCart('{{cartId}}', '{{product._doc._id}}')">A単adir al carrito</button>
        <input type="hidden" id="pid" value="{{ product._doc._id }}">
        <button class="boton"><a href="/api/views/home">Volver</a></button>
    </div>

    <!-- Cargar el script al final del cuerpo -->
    {{!-- <script src="../public/functions.js"></script> --}}
    <script>
        const addToCart = async (cartId, _id) => {
    const id = document.getElementById('pid').value;
    const url = `http://localhost:8080/api/cart/${cartId}/products/${id}`;
    const data = {
        cartId: cartId,
        _id: _id,
    };
    console.log("cart", cartId, "product", _id);
    try {
        const response = await fetch(url, {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify(data),
        });

        if (!response.ok) {
            Swal.fire({
                icon: 'error',
                title: 'Error',
                text: 'No puedes a単adir este producto al carrito.',
            });
            return;
        }
        Swal.fire({
            icon: 'success',
            title: 'Producto a単adido',
            text: 'El producto ha sido a単adido correctamente',
        });
        const result = await response.json();
        location.reload(true);

    } catch (error) {
        console.error("Fetch error:", error.message);
    }
};


    </script>
</body>
</html>
