<header>
    <h1>
       Producto {{product._doc._id}}
    </h1>
</header>
<div class="carrito">
    <a href="/api/views/carts/{{cartId}}" id="carritoLink">
        {{!-- <img class="imagen-carrito" src="https://cdn.pixabay.com/photo/2015/12/23/01/14/edit-1105049_1280.png" alt="Carrito de compras"> --}}
    </a>
    <span id="contadorCarrito"> {{quantity}} </span>
    <input type="hidden" id="cartId" value="{{ cartId }}">

</div>

<div class="product-card">
    <h4>Titulo: {{product._doc.title}}</h4>
    <p>Descripcion: {{product._doc.description}}</p>
    <p>Precio: ${{product._doc.price}}</p>
    <p>Stock: {{product._doc.stock}}</p>
    <p>Categoria: {{product._doc.category}}</p>
    <img src="{{product._doc.thumbail}}" alt="{{product._doc.title}}">      
    <button class="boton" id="add-to-cart-btn" data-product-id="{{product._doc._id}}" onclick="addToCart('{{cartId}}', '{{product._doc._id}}')">Añadir al carrito</button>
    <input type="hidden" id="pid" value="{{ product._doc._id }}">
    <button class="boton"><a href="/api/views/home">Volver</a></button>
    <input type="hidden" id="pid" value="{{ product._doc._id }}">

    
</div>

<script src="../public/functions.js"></script>