<!DOCTYPE html>
<html lang="en">
<header>
    <h1>
       PRODUCTOS EN TIEMPO REAL
    </h1>
</header>
<body>
    
    
     <form id="formAgregar">
        TITLE: <input type="text" name="title" id="title" required>
        DESCRIPTION: <input type="text" name="description" id="description" required>
        PRICE: <input type="number" name="price" id="price" required>
        STOCK: <input type="number" name="stock" id="stock" required>
        CODE: <input type="number" name="code" id="code" required>
        CATEGORY: <input type="text" name="category" id="category" required>
        THUMBAIL: <input type="text" name="thumbail" id="thumbail">
        <button type="button" onclick="createOneProduct()">AGREGAR</button>
    </form>

  
    <form id="formEliminar">
        ID: <input type="text" name="id" id="id" required>
        <button type="button" onclick="deleteOneProdAll()">ELIMINAR</button>
    </form>

    {{#if products.length}}
        <div class="product-cards">
            {{#each products}}
                <div class="product-card">
                    <h4>ID: {{_id}}</h4>
                    <h4>TITLE: {{title}}</h4>
                    <p>DESCRIPTION: {{description}}</p>
                    <p>PRICE: ${{price}}</p>
                    <p>STOCK: {{stock}}</p>
                    <p>CATEGORY: {{category}}</p>
                </div>
            {{/each}}
        </div>

        <div class="pagination">
            <button id="prev-page" {{#if prevPage}}data-page="{{prevPage}}"{{/if}}> Page</button>
            <button id="next-page" {{#if nextPage}}data-page="{{nextPage}}"{{/if}}>Next Page</button>
        </div>
    {{else}} 
        <p>No products available.</p>
    {{/if}}     
   
    <script src="/src/public/functions.js"></script>

<script>
    const createOneProduct = async () => {
    const title = document.getElementById('title').value;
    const description = document.getElementById('description').value;
    const price = document.getElementById('price').value;
    const stock = document.getElementById('stock').value;
    const code = document.getElementById('code').value;
    const category = document.getElementById('category').value;
    {{!-- const thumbail = document.getElementById('thumbail').value; --}}
    const token = document.getElementById('token').value; 
    const data = {
        title: title,
        description: description,
        price: price,
        stock: stock,
        code: code,
        token: token,
        category: category,
        {{!-- thumbail: thumbail --}}
    };
    const url = 'http://localhost:8080/api/products/';
    try {
    const response = await fetch(url, {
        method: "POST",
        headers: {
            "Content-Type": "application/json",
            "Authorization": `Bearer ${token}`,        
        },
        body: JSON.stringify(data),
    });
    if (!response.ok) {
        console.error("Error en añadir al producto: ", response.status, response.statusText);
        return;
    }
    Swal.fire({
        icon: 'success',
        title: 'Producto creado',
        text: 'El producto ha sido creado correctamente',
        confirmButtonColor: '#28a745'
    });
    const result = await response.json();
    location.reload(true);

    } catch (error) {
    console.error("Fetch error:", error.message);
}
};

</script>
</body>
</html>